.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  
    .logo-img {
      width: 130px;
    }
  }
  .sidebar-menu {
    background: #fff;
    padding: 20px;
    flex: 1;
    border-radius: 16px;
  }
  
  .sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .sidebar-list-item {
    padding: 16px 20px;
    border-radius: 8px;
    display: flex;
    gap: 16px;
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
  .isSelected {
    border-radius: 8px;
    background: #f4f9ff;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 19px;
      background-color: #0761e9;
    }
  
    label {
      color: #0761e9;
    }
    .list-item-icon {
      color: #0761e9;
    }
  }
  