.container-default {
  width: 100%;
  height: 83vh;
  padding: 16px;
  border-radius: 16px;
  opacity: 1;
  transition: all 0.3s ease;
  background-color: #ffffff;

  .header {
    .header-content {
      display: flex;
      gap: 10px;
      margin: 16px 8px 4px 16px;
    }

    button {
      width: auto;
      height: 28px;
      background-color: #f7f7f7;
      color: #080808;
      font-family: 'Roboto';
      font-size: 12px;
      font-weight: 400;
      line-height: 19.92px;
      letter-spacing: 0.4000000059604645px;
      text-align: left;
      gap: 10px;
      border-radius: 30px;
    }
  }

  .queries {
    width: auto;
    height: 424px;
    top: 56px;
    left: 18px;
    opacity: 0px;
    padding: 10px 0px 0px 0px;

    .queries-content-1,
    .queries-content-2,
    .queries-content-3 {
      width: auto;
      height: 136px;
      gap: 0px;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
      color: #080808;
      opacity: 0px;
      margin: 0px 20px 10px 20px;
    }

    .text {
      height: 48px;
      padding: 20px 0px 0px 20px;
      gap: 0px;
      opacity: 0px;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
      padding: 0 0.5em;
    }

    .footer {
      align-items: center;
      height: 40px;
      margin: 30px 0px 0px 20px;
      display: flex;
      gap: 10px;

      .answer-btn {
        width: 96px;
        height: 28p;
        padding: 4px 24px 4px 24px;
        gap: 4px;
        border-radius: 50px;
        opacity: 0px;
        margin: 0 1rem 0 auto;

        background-color: #e3eeff;
        color: #0761e9;
      }

      button {
        width: auto;
        height: 30px;
        background-color: #f7f7f7;
        align-items: center;
        color: #080808;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 400;
        line-height: 19.92px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        gap: 10px;
        border-radius: 30px;
      }
    }
  }
}

.container-expanded {
  height: 83vh;
  padding: 1em;
  border-radius: 16px;
  background-color: #ffffff;

  button {
    width: max-content;
    background-color: #f7f7f7;
    color: #080808;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 19.92px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    border-radius: 30px;
  }
  .answer-btn {
    height: 28p;
    border-radius: 50px;
    background-color: #e3eeff;
    color: #0761e9;
    margin: 0 0.3em 0 auto;
  }

  .queries {
    width: auto;
    height: 70%;
    top: 56px;
    left: 18px;
    opacity: 0px;
    padding: 10px 0px 0px 0px;

    .queries-content-1,
    .queries-content-2,
    .queries-content-3 {
      height: 40%;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
      color: #080808;
      opacity: 0px;
    }

    .text {
      height: 70%;
      opacity: 0px;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.15000000596046448px;
      padding: 0 0.5em;
      text-align: left;
    }

    .footer {
      align-items: center;
      display: flex;
    }
  }
}
