.loginWrapper {
  min-width: 26rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .logoContainer {
    text-align: center;
    .logoImg {
      width: 130px;
    }
  }
  .createAccountContainer {
    text-align: center;
  }

  .createAccountHelperText {
    color: #707070;
    font-size: 0.75rem;
    font-weight: 400;
  }
  .createAccountBtn {
    padding: 12px 40px;
    border-radius: 50px;
    border: 1px solid #000;
    color: #0c0c0c;
    font-size: 1rem;
    font-weight: 400;
  }
}

.loginContainer {
  border-radius: 1rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 47px 0 29px;

  .loginTitle {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .formWrapper {
    display: flex;
    margin-top: 48px;
    flex-direction: column;
    align-items: start;
    padding: 0 26px;
    border-radius: 16px;
  }

  .inputContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.15px;
    justify-content: start;
    font-size: 400;
  }

  .userField {
    margin-bottom: 0.5rem;
  }

  .forgotPassword {
    color: #696969;
    letter-spacing: 0.17px;
    margin-top: 18px;
    font-size: 400;
  }

  .divider {
    margin-top: 32px;
    width: 100%;
    height: 1px;
    color: black;
  }

  .loginButton {
    align-self: stretch;
    border-radius: 50px;
    background-color: #0761e9;
    margin-top: 20px;
    color: #fff;
    white-space: nowrap;
    padding: 12px 40px;
    font-size: 400;
    border: none;
    cursor: pointer;
  }
}
