.set-password-wrapper {
    background-color: #F2F2F2;
}
.set-password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12vw;
    margin: 4rem 3rem;
}

.set-password-img-container {
    align-self: end;
    img {
        width: 100%;
        height: 100%;
    }
}